@using SV20T1020078.Web
@{
    ViewData["Title"] = "Trang chủ";
    var userData = User.GetUserData();
}

<div class="text-center">
    <h1 class="display-4">
        Chào mừng  
    </h1>

   
    

</div>
