@{
    ViewData["Title"] = "Nhà Cung Cấp";
}

<div class="text-center">
    <h1 class="display-4">Đây là nhà cung cấp</h1>
    <p>Learn about <a href="~/">building Web apps with ASP.NET Core</a>.</p>
</div>