

@{
    
}


<div class="error-header"> </div>
<div class="container ">
    <section class="error-container text-center">
        <h1>Không có gì hết</h1>
        <div class="error-divider">
            <h2>Nhân viên không thể truy cập được!!</h2>
            
        </div>
        <a href="#index.html" class="return-btn"><i class="fa fa-home"></i>Home</a>
    </section>
</div>